<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p> views: <%= session.views %></p>
    <p>expires in: <%= session.cookie.maxAge / 1000 %>s</p>

    <p>Welcome to <%= title %></p>
  </body>
</html>
